:root {
  --bg-color: #2a75bb;
  --card-bg: #ffcb05;
  --text-colour: #ddd;
  --card-font: #000000;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-colour);
  
}

img {
  height: 200px;
  aspect-ratio: 1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

.game-container {
  margin: 4rem 0;
}

.game-card {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15%;
  padding: 1rem;
  color: var(--card-font);
  background: var(--card-bg);
}